/*----------------------------*/
/* Default paragraph style */
.text {
    font-size: 16px;
    color: black; /* Default text color */
    font-family: Arial, sans-serif;
}

/* Class to change color to blue */
.blue-text {
    color: blue;
}

.red-text {
    color:red;
}

/*----------------------------*/
/* Classes to show and hide content */
.hidden {
    display: none;
}
.unhidden {
    display:block;
}

